.page-central_troca main.container{
    width: 1088px;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    .sidebar-central{
        font-family: $P;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        width: 30%;
        margin-top: 0;
        >div{
            padding: 0;
        }
        h2{
            font-family: $P;
            font-size: 25px;
            font-weight: 800;
            color: #1f3f3e;
            margin-bottom: 20px;
            &::after{
                display: none;
            }
        }
        ul{
            li{
                h4{
                    font-size: 20px;
                    font-family: $P;
                    font-weight: 800;
                    display: block;
                    margin-bottom: 10px;
                    margin-top: 25px;
                    line-height: 27px;
                    color: #1f3f3e;
                }
                ul{
                    li{
                        a{
                            font-family: $P;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 27px;
                        }
                    }
                }
            }
        }
    }
    .page-content{
        width: 70%;
        padding: 0 15px;
        margin-top: 0px;
        .board{
            .tablePage{
                h4{
                    font-size: 14px;
                    font-family: $P;
                    font-weight: 400;
                }
                h3{
                    font-family: $P;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            .blocoAlerta{
                font-size: 14px;
                font-family: $P;
                font-weight: 400;
            }
        }
    }
}
@media screen and (max-width: 760px){
    .page-central_troca main.container{
        padding: 50px 20px;
        .sidebar-central{
            width: 100%;
            text-align: center;
            h2{
                font-size: 23px;
            }
        }
        .page-content{
            width: 100%;
            .board{
                .tablePage{
                    h4{
                        text-align: center;
                    }
                    h3{
                        text-align: center;
                        margin-bottom: 5px;
                        border-bottom: 1px solid #DDD
                    }
                    
                }
                .blocoAlerta{
                    margin: 0;
                    margin-top: 20px;
                }
            }
        }
        table{
            td{
                padding: 0;
                border-bottom: unset;
            }
        }
    }
}