header.ch-flex{
    border-radius: 50px;
    padding: 10px 0;
    .ch-title-2{
        font-family: $P;
        font-size: 25px;
        font-weight: 700;
        color: #1f3f3e;
        padding-left: 20px;
    }
    .ch-cart-coupon{
        font-family: $P;
        font-size: 16px;
        font-weight: 500;
    }
    .row{
        padding-top: 10px;
        width: 18%;
        a{
            font-family: $P;
            font-size: 18px;
            font-weight: 500;
            width: 150px;
            border-radius: 50px;
        }
    }
}
.ch-cart-separator{
    border-top: 0px;
    
}
.row{
    .col-sm-6{
        font-family: $P;
        font-size: 18px;
        font-weight: 500;
        .ch-valign-center{
            color: #1f3f3e;
            font-family: $P;
            font-size: 25px;
            font-weight: 700;
        }
        .ch-text-left{
            font-family: $P;
            font-size: 18px;
            font-weight: 400;
        }
        .ch-cart-summary-title{
            h3{
                color: #1f3f3e;
                font-family: $P;
                font-size: 25px;
                font-weight: 700;
            }
        }
        .ch-cart-subtotal{
            font-family: $P;
            font-size: 18px;
            font-weight: 400;
        }
        .ch-cart-total{
            strong{
                font-family: $P;
                font-size: 18px;
                font-weight: 700;  
            }
            .ch-cart-total-price{
                font-size: 29px;
            }
        }
        .ch-cart-total-split{
            font-family: $P;
            font-size: 18px;
            font-weight: 400;
        }
        .ch-cart-coupon{
            p{
                font-family: $P;
                font-size: 18px;
                font-weight: 400; 
            }
        }

    }
    .ch-cart-product-name{
        font-family: $P;
        font-size: 18px;
        font-weight: 500;
    }
    .ch-cart-product-reference, .ch-cart-product-brand, .ch-cart-product-gift-wrap{
        font-family: $P;
        font-size: 14px;
        font-weight: 500;
    }
    .ch-cart-tooltip-container{
        font-family: $P;
        font-size: 18px;
        font-weight: 500;
    }
    .ch-cart-product-price-unit{
        font-family: $P;
        font-size: 14px;
        font-weight: 500;
    }
    
}
.ch-cart-checkout-actions{
    .ch-vspace-sm{
        .ch-btn-default{
            border-radius: 50px;
            font-weight: 700;
            font-size: 16px;
            font-family: $P;
        }
    }
    .hidden-xs{
        .btn-next-step{
            border-radius: 50px;
            font-weight: 700;
            font-size: 16px;
            font-family: $P;
            background: #60A038;
        
        }
    }
}

.modal-content{
    border-radius: 50px;
    padding: 25px;
    .modal-body{
        padding: 20px;
        tbody{
            font-family: $P;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .modal-footer{
        padding-bottom: 30px;
        .btn-close{
            background: #60A038;
            font-family: $P;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
        }
    }
}