.page-home {
  .product-1 {
    width: 100%;
  }
  [class*="block"] {
    float: left;
    width: 100%;
  }
  .center {
    max-width: 100%;
    width: 1088px;
    margin: auto;
    @media(max-width: 768px) {
      padding: 0 20px;
    }
  }
  .site-main.container {
    width: 100%;
    padding: 0;
  }
  .box_skitter {
    width: 100% !important;
    height: auto;
    margin: auto;
  }
  .container_skitter {
    margin: auto;
  }
  .label_skitter {
    display: none !important;
  }
  .info_slide_dots {
    display: flex;
    justify-content: center !important;
    left: 0 !important;
    left: 0 !important;
    width: 100%;
    .image_number_select {
      background: #60A038;
    }
  }
  .block-2 {
    background: #EDEDED;
    ul {
      display: flex;
      justify-content: space-between;
      height: 118px;
      align-items: center;
      gap: 48px;
      li {
        display: flex;
        gap: 16px;
        align-items: center;
        span {
          font-size: 18px;
          font-family: 'Poppins';
          color: #1F3F3E;
          line-height: 27px;
          font-style: italic;
        }
      }
    }
  }
  .showcase:not([class*="block-"]) {
    margin: 95px 0;
    width: 100%;
    float: left;
    .slick-list {
      width: 100%;
      float: left;
    }
    h2 {
      padding: 0;
      margin-bottom: 43px;
      small {
        display: none;
      }
      strong {
        padding: 0;
        text-align: center;
        font-size: 76px;
        font-family: 'Poppins';
        font-weight: 800;
        color: #1F3F3E;
        line-height: 1;
        border: none;
      }
    }
  }
  .block-4 {
    background: #60A038;
    padding: 95px 0;
    .grid-banners {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      .banner-3 {
        order: 4;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .banner-4 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        position: relative;
        left: -20px;
        img {
          height: 100%;
        }
      }
    }
  }
  .block-6 {
    padding: 96px 0;
    background: #1F3F3E;
    h2 {
      color: white;
      font-size: 47px;
      font-family: 'Poppins';
      font-weight: 800;
      margin-bottom: 40px;
      text-align: center;
      display: block;
    }
    .block-video {
      display: flex;
      gap: 53px;
      .left {
        width: 658px;
        max-width: 100%;
        img {
          width: 100%;
        }
      }
      .right {
        flex: 1;
        max-width: 335px;
        * {
          color: white;
          font-size: 18px;
          line-height: 27px;
          font-weight: 500;
        }
      }
    }
  }
  .block-8 {
    text-align: center;
    h2 {
      font-size: 76px;
      font-family: 'Poppins';
      font-weight: 800;
      color: #1F3F3E;
      display: block;
      text-align: center;
      line-height: 115px;
      margin-bottom: 14px;
    }
    img {
      margin: auto;
    }
  }
  .block-9 {
    margin: 96px 0 80px;
    h2 {
      color: #1F3F3E;
      font-size: 76px;
      font-family: 'Poppins';
      font-weight: 800;
      margin-bottom: 32px;
      text-align: center;
      display: block;
    }
    .blog-posts {
      display: flex;
      gap: 18px;
      .post {
        border-radius: 50px;
        box-shadow: 0px 0px 6px #0000001c;
        padding: 21px;
        cursor: pointer;
        transition: .3s ease;
        .icon {
          margin-bottom: 8px;
        }
        .name {
          font-family: 'Poppins';
          font-size: 29px;
          line-height: 33px;
          color: #1F3F3E;
          font-weight: 800;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 8px;
        }
        .description {
          font-family: 'Poppins';
          font-size: 18px;
          line-height: 27px;
          color: #1F3F3E;
          font-weight: 600;
          text-align: center;
          max-width: 270px;
          margin: 0 auto 8px;
        }
        .btn-go {
          background: #60A038;
          border-radius: 50px;
          display: block;
          height: 66px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          font-family: 'Poppins';
          font-weight: 600;
          font-size: 18px;
          color: white;
        }
        &:hover {
          background: #EDEDED;
        }
      }
    }
  }
} 
