.page-home {
  .modal-content{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    .bg-modal{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
    }
    .content-modal{
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 500px;
      height: 300px;
      .close-btn{
        position: absolute;
        top: -45px;
        right: -35px;
        font-size: 52px;
        color: white;
        transform: rotate(45deg);
        text-shadow: 1px 1px rgba(0, 0, 0, .5);
        cursor: pointer;
      }
      .video{
        width: 100%;
        height: 100%;
        iframe{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .product-1 {
    width: 100%;
  }
  [class*="block"] {
    float: left;
    width: 100%;
  }
  .center {
    max-width: 100%;
    width: 1088px;
    margin: auto;
    @media(max-width: 768px) {
      padding: 0 10px;
    }
  }
  .site-main.container {
    width: 100%;
    padding: 0;
  }
  .box_skitter {
    width: 100% !important;
    height: auto;
    margin: auto;
    .box_clone img {
      left: 0;
      right: 0;
      margin: auto;
    }
    .info_slide_dots .image_number_select, .info_slide_dots .image_number_select:hover {
      background: #60A038;
    }
  }
  .container_skitter {
    margin: auto;
  }
  .label_skitter {
    display: none !important;
  }
  .info_slide_dots {
    display: flex;
    justify-content: center !important;
    left: 0 !important;
    left: 0 !important;
    width: 100%;
    .image_number_select {
      background: #60A038;
    }
  }
  .block-2 {
    background: #EDEDED;
    ul {
      display: flex;
      justify-content: space-between;
      height: 118px;
      align-items: center;
      gap: 48px;
      li {
        display: flex;
        gap: 16px;
        align-items: center;
        span {
          font-size: 18px;
          font-family: 'Poppins';
          color: #1F3F3E;
          line-height: 27px;
          font-style: italic;
        }
      }
    }
  }
  .showcase:not([class*="block-"]) {
    margin: 95px 0;
    width: 100%;
    float: left;
    .slick-list {
      width: 100%;
      float: left;
    }
    h2 {
      padding: 0;
      margin-bottom: 43px;
      small {
        display: none;
      }
      strong {
        padding: 0;
        text-align: center;
        font-size: 76px;
        font-family: 'Poppins';
        font-weight: 800;
        color: #1F3F3E;
        line-height: 1;
        border: none;
      }
    }
  }
  .block-3{
    h2{
      .departure{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin-top: 16px;
        p{
          text-transform: none;
          font-family: $P;
          font-size: 18px;
          font-weight: 700;
          color: #90a09f;
        }
        #countdown{
          background: #60A038;
          font-size: 18px;
          font-weight: 700;
          color: white;
          padding: 3px;
          font-family: $P;
          margin-left: 8px;
        }
      }
    }
  }

  .block-4 {
    background: #60A038 url(http://images.tcdn.com.br/files/1079236/themes/21/img/bgtextura.png?343.86500055511596);
    position: relative;
    padding: 95px 0;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, #60A038, #60a038b8, rgba(255,0,0,0));
    }
    .grid-banners {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      position: relative;
      .banner-3 {
        order: 4;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .banner-4 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        position: relative;
        left: -20px;
        img {
          height: 100%;
        }
      }
    }
  }
  .block-6 {
    padding: 96px 0;
    background: #1F3F3E url(http://images.tcdn.com.br/files/1079236/themes/21/img/bgtextura2.png?769.0089452690975);
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, #1F3F3E 2%,  rgba(255,0,0,0));
    }
    .center{
      position: relative;
    }
    h2 {
      color: white;
      font-size: 47px;
      font-family: 'Poppins';
      font-weight: 800;
      margin-bottom: 40px;
      text-align: center;
      display: block;
    }
    .block-video {
      display: flex;
      gap: 53px;
      .left {
        width: 658px;
        max-width: 100%;
        img {
          width: 100%;
        }
      }
      .right {
        flex: 1;
        max-width: 335px;
        * {
          color: white;
          font-size: 18px;
          line-height: 27px;
          font-weight: 500;
        }
      }
    }
  }
  .block-8 {
    text-align: center;
    h2 {
      font-size: 76px;
      font-family: 'Poppins';
      font-weight: 800;
      color: #1F3F3E;
      display: block;
      text-align: center;
      line-height: 115px;
      margin-bottom: 14px;
    }
    img {
      margin: auto;
    }
    .banner-marcas{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 16px;
      padding: 0px 85px;
      margin-top: 54px;
      li{
        list-style: none;
        position: relative;
        width: 220px;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 15px;
        height: 125px;
        perspective: 1000px;
        padding: 0;
        border: none;
        overflow: visible;

        .flipper {
          position: relative;
          width: 100%;
          height: 100%;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          box-shadow: 0px 0px 9px #0000008f;
          border-radius: 10px;
        }
        &:hover .flipper {
          transform: rotateY(180deg);
        }
        .label_text, .flipper > img {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
        } 
        .flipper > img {
          transform: rotateY(180deg);
          left: 0;
          border-radius: 10px;
        }       
        .label_text{
          p{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(96, 160, 55) !important;
            font-family: $P;
            font-size: 29px;
            font-weight: bold;
            transition: 0.6s ease;
            color: white;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .block-9 {
    margin: 96px 0 80px;
    h2 {
      color: #1F3F3E;
      font-size: 76px;
      font-family: 'Poppins';
      font-weight: 800;
      margin-bottom: 32px;
      text-align: center;
      display: block;
    }
    .blog-posts {
      display: flex;
      gap: 18px;
      .post {
        border-radius: 50px;
        box-shadow: 0px 0px 6px #0000001c;
        padding: 21px;
        cursor: pointer;
        transition: .3s ease;
        .icon {
          margin-bottom: 8px;
        }
        .name {
          font-family: 'Poppins';
          font-size: 29px;
          line-height: 33px;
          color: #1F3F3E;
          font-weight: 800;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 8px;
        }
        .description {
          font-family: 'Poppins';
          font-size: 18px;
          line-height: 27px;
          color: #1F3F3E;
          font-weight: 600;
          text-align: center;
          max-width: 270px;
          margin: 0 auto 8px;
        }
        .btn-go {
          background: #60A038;
          border-radius: 50px;
          display: block;
          height: 66px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          font-family: 'Poppins';
          font-weight: 600;
          font-size: 18px;
          color: white;
        }
        &:hover {
          background: #EDEDED;
        }
      }
    }
  }

  .showcase {
    .slick-slider {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      .slick-arrow {
        top: 0;
        bottom: 0;
        margin: auto;
        border: none;
        padding: 0;
        &::before {
          display: inline-block;
          background-image: url(//images.tcdn.com.br/files/1079236/themes/21/img/Esq.png?586.7820847203941);
          background-position: center;
          background-size: contain;
          width: 21px;
          height: 69px;
          background-repeat: no-repeat;
          border: navajowhite;
        }
        &.slick-prev {
          left: -40px;
          right: unset;
          &::before {
            transform: rotate(0deg);
          }
        }
        &.slick-next {
          right: -40px;
          &::before {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
} 

.page-home .block-9 .blog-posts {
  &.slick-slider {
    .slick-arrow {
      top: 0;
      bottom: 0;
      margin: auto;
      border: none;
      padding: 0;
      background: none;
      &::before {
        display: inline-block;
        background-image: url(//images.tcdn.com.br/files/1079236/themes/21/img/Esq.png?586.7820847203941);
        background-position: center;
        background-size: contain;
        width: 21px;
        height: 69px;
        background-repeat: no-repeat;
        border: navajowhite;
      }
      &.slick-prev {
        left: -40px;
        right: unset;
        &::before {
          transform: rotate(0deg);
        }
      }
      &.slick-next {
        right: -40px;
        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media screen and (max-width: 760px){
  .page-home{
    .block-2{
      ul{
        display: block;
        height: auto;
        margin: 35px 0;
        li{
          margin-bottom: 10px;
        }
      }
    }
    .showcase:not([class*="block-"]){
      h2{
        strong{
          font-size: 30px;
          width: min-content;
          margin: auto;
        }
      }
    }
    .block-6{
      h2{
        font-size: 40px;
      }
      .block-video{
        display: grid;
        .left{
          width: auto;
        }
        .right{
          text-align: center;
        }
      }
    }
    .block-8{
      h2{
        font-size: 46px;
        line-height: 60px;
      }
    }
    .block-9{
      h2{
        font-size: 37px;
      }
      .blog-posts{
        &.slick-slider{
          .slick-arrow{
            &::before{
              height: 50px;
            }
            &.slick-prev{
              left: -20px;
            }
            &.slick-next{
              right: -20px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 760px) {
  .page-home {
    .block-4 {
      .grid-banners {
        flex-wrap: wrap;
        display: flex;
        .banner {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
    .showcase{
      .slick-slider{
        .slick-arrow{
          &::before{
            height: 50px;
          }
          &.slick-prev{
            left: -15px;
          }
          &.slick-next{
            right: -15px;
          }
        }
        
      }
    }
    .block-8, .block-9  {
      margin: 0;
      padding: 0;
    }
    .block-9 {
      margin-top: 25px;
      h2 {
        font-size: 30px;
        margin-bottom: 25px;
      }
    }
    [class*="block-"].showcase {
      margin: 25px 0;
    }
    .block-6 .block-video {
      gap: 25px;
      .right {
        p {
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
    .block-6, .block-4, .block-8 {
      padding: 25px 0;  
      h2 {
        font-size: 30px;
        line-height: 1.1;
        margin-bottom: 25px;
      }
    }
    .block-4 .grid-banners .banner-4 {
      order: 4;
      left: 0;
    }
    .block-6 .block-video .right {
      margin: auto;
    }
    .grid-banners {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .showcase:not([class*="block-"]) {
      margin: 0;
      h2 {
        margin-bottom: 20px;
        strong {
          font-size: 30px;
        }
      }
    }
    .block-2 {
      .slick-track {
        display: flex;
      }
      ul {
        margin: 20px 0;
        li {
          margin: auto !important;
          justify-content: center;
          img {
            max-height: 50px;
            max-width: 40px;
          }
          span {
            font-size: 14px;
            line-height: 1.5;
            max-width: 180px;
          }
        }
      }
    }
    .block-8 {
      padding-top: 5px;
    }
    .block-9 {
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      .blog-posts {
        .post {
          border-radius: 30px;
          padding: 15px 10px;
          transform: scale(.95);
          .name {
            line-height: 1;
            font-size: 18px;
            height: 35px;
          }
          .description {
            line-height: 1.2;
            font-weight: 400;
            font-size: 14px;
          }
          .btn-go {
            font-size: 12px;
            line-height: 1.2;
            text-align: center;
            border-radius: 25px;
            height: auto;
            padding: 10px 0;
          }
        }
      }
    }
  }
}