main .board_htm{
        width: 1088px;
        max-width: 100%;
        margin: auto;
        padding-top: 50px;
        margin-bottom: 40px;
        font-family: $P;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
    }
@media screen and (max-width: 760px){
    main .board_htm{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.5;
    }
    
}