
#app .app__container{
    width: 1088px;
    max-width: 100%;
    margin: auto;
    padding: 30px;
    .app__navigation__item__label{
        font-family: $P;
        font-size: 18px;
        font-weight: 500;
    }  
    .app__progress{
        .app__progress__label{
            width: 120px;
            font-family: $P;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .app__progress--circle{
        .app__progress__text{
            font-family: $P;
            font-size: 25px;
        }
    }
}
header.app__dashboard__header{
    border-radius: 50px;
    h2{
        font-family: $P;
        font-size: 18px;
        font-weight: 800;
        padding: 15px;
        color: #1f3f3e;
    }
}
.app__order-not-found__text{
    font-family: $P;
    font-size: 18px;
    font-weight: 400;
}

.app__link--featured{
    color: #60A038;
}
header.app__customer-preview__header{
    border-radius: 50px;
    h2{
        font-family: $P;
        font-size: 18px;
        font-weight: 800;
        padding: 15px;
        color: #1f3f3e;
    }
}
.app__customer-preview__content{
    font-family: $P;
    font-size: 16px;
    font-weight: 500;
}
.app__progress-circle{
    margin: auto;
    .app__progress__label{
        width: 100%;
        font-family: $P;
        font-size: 16px;
        font-weight: 400;
        padding-top: 10px;
    }
}
.app__button--no-margin{
    background: #60A038;
    border-radius: 50px;
    font-family: $P;
    font-size: 16px;
    font-weight: 700;
}
.app__header{
    background: #EDEDED;
    .app__icon{
        path{
            color: #60A038;
        }
    }
    .app__dropdown{
        ul{
            font-family: $P;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .app__customer-greetings__greeting-item{
        font-family: $P;
        font-size: 16px;
        font-weight: 500;
    }
}
header.app__order-list__header{
    border-radius: 50px;
    h3{
        font-family: $P;
        font-size: 18px;
        font-weight: 800;
        padding: 15px;
        color: #1f3f3e;
    }
}
header.app__address-list__header{
    border-radius: 50px;
    h3{
        font-family: $P;
        font-size: 18px;
        font-weight: 800;
        padding: 15px;
        color: #1f3f3e;
    }
}
.app__addresses__address{
    font-family: $P;
    font-size: 16px;
    font-weight: 500;
}
.app__badge--success{
    background: #60A038;
}
.app__button--primary-outline{
    color: #FFFFFF;
}
header.app__customer-password-change__header{
    border-radius: 50px;
    h3{
        font-family: $P;
        font-size: 18px;
        font-weight: 800;
        padding: 15px;
        color: #1f3f3e;
    }
}
form.app__customer{
    #new-password, #confirm-password{
        height: 35px!important;
        border-radius: 50px;
        font-family: $P;
        font-size: 16px;
        font-weight: 500;
        padding-left: 25px;
    }
    svg.fa-w-14{
        width: 15px;
        height: 15px;
    }
    svg.fa-w-20{
        top: 0px;
        right: 5px;
        width: 25px;
        height: 25px;
    }
    .app__customer-password-change__validation-rules{
        font-family: $P;
        font-size: 16px;
        font-weight: 400;
    }
}







 
