.page-product main.container{
    width: 1088px;
    max-width: 100%;
    margin: auto;
    padding-top: 50px;
    .products-visited{
        display: none;
    }
    .shipping-result{
        .page-simula-frete{
            >p{
                span{
                    display: block;
                    margin-top: 12px;
                }
            }
            >.tablePage{
                margin-top: 30px;
            }
        }
    }
    .products-related{
        border-radius: 50px;
        padding-top: 25px;
        padding: 0;
        border: none;
        text-align: center;
        > h4{
            font-family: $P;
            font-size: 16px;
            font-weight: 400;
        }
        .related-title{
            color: #1f3f3e;
            font-family: $P;
            font-size: 35px;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 10px;
        }
    }
    #coments{
        h2{
            font-family: $P;
            font-size: 25px;
            font-weight: 700;
            color: #1f3f3e;
        }
    }
    .description{
        padding-top: 8px;
        margin-bottom: 0;
        font-family: $P;
        font-size: 18px;
        font-weight: 400;
    }
    .product-name{
        font-family: $P;
        font-size: 29px;
        font-weight: 800;
    }
    .product-labels{
        margin-bottom: 5px;
    }
    .product-details{
        font-family: $P;
        font-size: 16px;
        font-weight: 500;
    }
    .produto-bonus{
        margin: 0px;
    }
    form{
        #produto_preco{
            display: grid;
            &::before{
                background: #1f3f3e;
            }
            .txt-por{
                font-family: $P;
                font-size: 16px;
                font-weight: 400;
                order: 1;
            }
            .PrecoPrincipal{
                font-family: $P;
                font-size: 20px;
                font-weight: 600;
                color: #aaa;
                order: 3;
                line-height: 1;
                margin-bottom: -10px;
                &::before{
                    content: 'ou';
                    font-family: $P;
                    font-size: 16px;
                    font-weight: 400;
                    color: #aaa;
                }
                &::after{
                    content: ' à vista';
                    font-family: $P;
                    font-size: 16px;
                    font-weight: 400;
                    color: #aaa;
                }
            }
            #info_preco{
                font-family: $P;
                font-size: 16px;
                font-weight: 400;
                width: max-content; 
                max-width: 100%;
                order: 2;
                padding-top: 14px;
                .txt-corparcelas{
                    .preco-parc2{
                        font-size: 0;
                        .color{
                            font-size: 40px;
                            font-family: $P;
                            font-weight: 800;
                            color: #1f3f3e;
                        }
                    }
                }
                .txt-cadaparcelas{
                    .preco-parc2{
                        font-size: 40px;
                        font-family: $P;
                        font-weight: 800;
                        color: #1f3f3e;
                    }
                    
                }
                .operadora{
                    display: block;
                    text-align: right;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $P;
                }
                .preco-de{
                    font-size: 16px;
                    font-weight: 400;
                }
                
            }
        }
        #produto_nao_disp{
            font-family: $P;
            font-size: 16px;
            font-weight: 400;
        }
        .texto_variacao{
            h2{
                font-family: $P;
                font-size: 16px;
                font-weight: 500;
                line-height: 2;
            }
        }
        .wrapper-btn-buy{
            .product-quantity{
                width: 80px;
            }
            .product-buy-button{
                border-radius: 50px;
                background: #60A038;
                span{
                    font-family: $P;
                    font-size: 18px;
                    font-weight: 500;
                    margin: auto;
                }
                svg{
                    display: none;
                }
            }
            &::after{
                background: #1f3f3e;
            }
        }
        .produto-calcular-frete{
            .cepbox-text{
                display: flex !important;
                font-family: $P;
                font-size: 16px;
                font-weight: 800;
                color: #1f3f3e !important;
                margin: 20px 0;
            }
            label{
                font-family: $P;
                font-size: 16px;
                font-weight: 500;
            }
            input.text{
                font-family: $P;
                font-size: 16px;
                font-weight: 500;
                border-radius: 5px
            }
            .botao-simular-frete{
                font-family: $P;
                font-size: 16px;
                font-weight: 500;
                border-radius: 50px;
                background: #1f3f3e !important;
                &::before{
                    font-family: $P;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }

    }
    .product-tabs{
        #ProdAbas{
            li{
                background: #1f3f3e;
                a{
                    font-family: $P;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            li.aberta{
                background: #60A038;
                a{
                    background: #60A038;
                }
            }
        }
        .prodBox{
            padding-top: 35px;
            .board{
                #atualizaFormas{
                    .Forma1{
                        li{
                            margin-top: 0px;
                            padding-top: 0px;
                            a{
                                font-family: $P;
                                font-size: 18px;
                                font-weight: 500;
                                padding-bottom: 20px;
                            }
                            .tablePags{
                                width: 75%;
                                .color{
                                    font-family: $P;
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                                .item-parcela{
                                    font-family: $P;
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }
                        }
                        td:last-child{
                            font-family: $P;
                            font-size: 11px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    .board{
        font-family: $P;
        font-size: 18px;
        font-weight: 400;
    }
}
.modal-content{
    .modal-header{
        h4.modal-title{
            font-family: $P;
            font-size: 18px;
            font-weight: 700;
            color: #1f3f3e;
        }
    }
    .modal-body{
        .cart-preview-table{
            .cart-preview-quantity-tag-box{
                background: #1f3f3e;
                span{
                    font-family: $P;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            .cart-preview-item-name-box{
                span{
                    font-family: $P;
                    font-size: 18px;
                    font-weight: 500;
                }
                small{
                    font-family: $P;
                    font-size: 12px;
                    font-weight: 400;
                    margin-top: 5px;
                }
               
            }
            .cart-preview-item-price-box{
                width: unset;
                .block{
                    font-family: $P;
                    font-size: 18px;
                    font-weight: 500;
                }
                small{
                    font-family: $P;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
            .cart-preview-item-delete-box{
                span{
                    font-family: $P;
                    font-size: 11px;
                    font-weight: 400;
                    margin-left: 10px;
                }
            }
        }
    }
    .modal-footer{
        .cart-preview-subtotal{
            font-family: $P;
            font-size: 16px;
            font-weight: 500;
        }
        .botao-commerce{
            background: #60A038;
            border-radius: 50px;
            height: 40px;
            padding: 14px;
        }
    }
}

@media screen and (max-width: 760px){
    .page-product main.container{
        #coments{
            h2{
                font-size: 22px;
            }
        }
        .produto-calcular-frete{
            border-top: 1px solid lightgray;
            margin-top: 22px;
            #cepbox{
                justify-content: center;
                text-align: center;
                input{
                  &:first-of-type{
                    width: calc(100% - 134px);
                  }
                }
                .cepbox-text{
                    justify-content: center;
                }
                .botao-commerce{
                    margin: auto;
                    margin-top: 10px;
                }
            }
        }
        form{
            .wrapper-btn-buy{
                &::after{
                    display: none;
                }
            }
        }
        .product-name{
           color: #1f3f3e;
           text-align: center;
        }
        .product-tabs{
            .board_htm.description{
                padding: 0;
            }
            .prodBox{
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 20px;
                .board{
                    #atualizaFormas{
                        .Forma1{
                            li{
                                a{
                                    padding-bottom: 15px;
                                    text-align: center;
                                }
                                .tablePags{
                                    width: 100%;
                                    .color{
                                        font-size: 12px;
                                    }
                                    .item-parcela{
                                        font-size: 12px;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .products-related{
            > h4{
                text-align: center;
            }
            >.row{
                .slick-prev{
                    left: 0;
                }
                .slick-next{
                    right: 0;
                }
            }
            .related-title{
                font-size: 33px;
                line-height: 1;
                margin-bottom: 33px;
                text-align: center;
            }
        }
    }
}
.modal-content{
    left: -7px;
    .modal-body{
        padding-right: 0px;
        padding-left: 0px;
        .cart-preview-table{
            .cart-preview-item-name-box{
                span{
                    font-size: 16px;
                }
            }
            .cart-preview-item-price-box{
                .block{
                    font-size: 15px;
                }
                small{
                    font-size: 9px;
                }
            }
            .cart-preview-item-delete-box{
                span{
                    font-size: 9px;
                }
            }
        }
    }
}