{% if settings.limitProducts %}
    {% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 12 %}
{% endif %}

{% set showAvailable = settings.show_available_products ? 'available' %}

<div class="block-1">
  {% element 'snippets/banner-home' %}
</div>

<div class="block-2">
  <div class="center">
    <ul>
      <li>
        <img src="http://images.tcdn.com.br/files/1079236/themes/13/img/cards.svg" alt="Todo o site em até 6x s/juros" />
        <span>Todo o site em até 6x s/juros</span>
      </li>
      <li>
        <img src="http://images.tcdn.com.br/files/1079236/themes/13/img/truck.svg" alt="Entrega para todo o Brasil" />
        <span>Entrega para <strong>todo o Brasil</strong></span>
      </li>
      <li>
        <img src="http://images.tcdn.com.br/files/1079236/themes/13/img/secure-site.svg" alt="Site Seguro | Compre com tranquilidade" />
        <span><strong>Site Seguro |</strong> Compre com tranquilidade</span>
      </li>
    </ul>
  </div>
</div> 

<div class="block-3 showcase">
  <div class="center">
    {% set showcaseText = "Ofertas Relâmpago" %}

    {% if showAvailable %}
      {% if settings.showcase_1 == "top_seller" %}
      <div id="prognoos_popv1"></div>	
      
          {% set products = Products({
              'filter': showAvailable,
              'limit': limitProducts,
              'order': {'quantity_sold': 'desc'}
          }) %}    
      
      {% else %}
          {% set products = Products({
              'filter': [showAvailable, settings.showcase_1],
              'limit': limitProducts,
              'order': 'rand'
          }) %}
      {% endif %}
      
    {% else %}
        {% if settings.showcase_1 == "top_seller" %}
        <div id="prognoos_popv1"></div>
        
            {% set products = Products({
                'filter': available,
                'limit': limitProducts,
                'order': {'quantity_sold': 'desc'}
            }) %}      
        {% else %}
            {% set products = Products({
                'filter': settings.showcase_1,
                'limit': limitProducts,
                'order': 'rand'
            }) %}
        {% endif %}
    {% endif %}

    {% element 'showcase' { 
        "products": products,
        "showcaseTitle": showcaseText
    } %}
  </div>
</div>

<div class="block-4">
  <div class="center grid-banners">
    <div class="banner banner-1">{{ banner.extra1 }}</div>
    <div class="banner banner-2">{{ banner.extra2 }}</div>
    <div class="banner banner-3">{{ banner.extra3 }}</div>
    <div class="banner banner-4">{{ banner.extra4 }}</div>
  </div>
</div>

<div class="block-5 showcase">
  <div class="center">
    {% set showcaseText = "Destaques" %}

    {% if showAvailable %}
      {% if settings.showcase_2 == "top_seller" %}
      <div id="prognoos_popv1"></div>	
      
          {% set products = Products({
              'filter': showAvailable,
              'limit': limitProducts,
              'order': {'quantity_sold': 'desc'}
          }) %}    
      
      {% else %}
          {% set products = Products({
              'filter': [showAvailable, settings.showcase_2],
              'limit': limitProducts,
              'order': 'rand'
          }) %}
      {% endif %}
      
    {% else %}
        {% if settings.showcase_2 == "top_seller" %}
        <div id="prognoos_popv1"></div>
        
            {% set products = Products({
                'filter': available,
                'limit': limitProducts,
                'order': {'quantity_sold': 'desc'}
            }) %}      
        {% else %}
            {% set products = Products({
                'filter': settings.showcase_2,
                'limit': limitProducts,
                'order': 'rand'
            }) %}
        {% endif %}
    {% endif %}

    {% element 'showcase' { 
        "products": products,
        "showcaseTitle": showcaseText
    } %}
  </div>
</div>

<div class="block-6">
  <div class="center">
    <h2>Conheça A Ferragens Luizinho®</h2>
    <div class="block-video">
      <div class="left">
        {{ banner.extra5 }}
        <div class="modal-video" style="display: none;">
          <!-- <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
      </div>
      <div class="right">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis justo nec vehicula consequat. Cras fringilla ut justo nec dignissim. In hac habitasse platea dictumst. Curabitur et tellus leo. Vestibulum iaculis rhoncus velit. Donec tempor luctus nunc, et laoreet diam semper vel. Aenean molestie maximus sem in mattis. Maecenas sed ante et ante porttitor vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sed metus lorem. Vestibulum leo purus, luctus in metus id, condimentum porttitor mauris.</p>
      </div>
    </div>
  </div>
</div>

<div class="block-7 showcase">
  <div class="center">
    {% set showcaseText = "Produtos em Alta" %}

    {% if showAvailable %}
      {% if settings.showcase_3 == "top_seller" %}
      <div id="prognoos_popv1"></div>	
      
          {% set products = Products({
              'filter': showAvailable,
              'limit': limitProducts,
              'order': {'quantity_sold': 'desc'}
          }) %}    
      
      {% else %}
          {% set products = Products({
              'filter': [showAvailable, settings.showcase_3],
              'limit': limitProducts,
              'order': 'rand'
          }) %}
      {% endif %}
      
    {% else %}
        {% if settings.showcase_3 == "top_seller" %}
        <div id="prognoos_popv1"></div>
        
            {% set products = Products({
                'filter': available,
                'limit': limitProducts,
                'order': {'quantity_sold': 'desc'}
            }) %}      
        {% else %}
            {% set products = Products({
                'filter': settings.showcase_3,
                'limit': limitProducts,
                'order': 'rand'
            }) %}
        {% endif %}
    {% endif %}

    {% element 'showcase' { 
        "products": products,
        "showcaseTitle": showcaseText
    } %}
  </div>
</div>

<div class="block-8">
  <h2>Conheça nossas marcas</h2> 
  {{ banner.extra6 }}
</div>

<div class="block-9 blog">
  <div class="center">
    <h2>Acesse nossas dicas</h2>
    <div class="blog-posts">
      <div class="post">
        <div class="icon">
          <img src="http://images.tcdn.com.br/files/1079236/themes/13/img/blog-example.png" alt="Etapas da reforma" />
        </div>
        <div class="name">Etapas da reforma</div>
        <div class="description">Atualmente no ramo de reformas e construção está em evidência a construção com madeiras e metais estilo industrial...</div>
        <div class="btn-go"> Clique e confira!</div>
      </div>
      <div class="post">
        <div class="icon">
          <img src="http://images.tcdn.com.br/files/1079236/themes/13/img/blog-example.png" alt="Etapas da reforma" />
        </div>
        <div class="name">Etapas da reforma</div>
        <div class="description">Atualmente no ramo de reformas e construção está em evidência a construção com madeiras e metais estilo industrial...</div>
        <div class="btn-go"> Clique e confira!</div>
      </div>
      <div class="post">
        <div class="icon">
          <img src="http://images.tcdn.com.br/files/1079236/themes/13/img/blog-example.png" alt="Etapas da reforma" />
        </div>
        <div class="name">Etapas da reforma</div>
        <div class="description">Atualmente no ramo de reformas e construção está em evidência a construção com madeiras e metais estilo industrial...</div>
        <div class="btn-go"> Clique e confira!</div>
      </div>
    </div>
  </div>
</div>